*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:root{
    --base-color: white;
    --base-variant: #e8e9ed;
    --text-color: black;
    --shadow-color: rgba(0, 0, 0, 0.493);
    --secondary-text: #718355;
    --accent-color: #932ECD;
}

.darkmode {
    --base-color: black;
    --base-variant: #19191a;
    --text-color: white;
    --shadow-color: rgba(247, 247, 247, 0.493);
    --secondary-text: #718355;
    --accent-color: #932ECD;
}

body {
    background-color: var(--base-color);
    margin: 0;
    padding: 0;
    font-family: 'Open Sans',sans-serif;
}

#theme-switch {
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 12px;
    right: 60px;
    border: none;
}

#theme-switch svg {
    fill: var(--base-color);
}

#theme-switch svg:last-child{
    display: none;
}

.darkmode #theme-switch svg:first-child{
    display: none;
}

.darkmode #theme-switch svg:last-child{
    display: block;
}

/*  */
.logo img {
    width: 40px;
    padding-top: 20px;
    float: left;
}

.logo a {
    padding-left: 20px;
    font-size: 30px;
    font-weight: 550;
    float: left;
    font-family: courier;
    color: var(--text-color);
}

.menu {
    float: right;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: var(--base-color);
    z-index: 1;
    box-shadow: 0px 3px 5px var(--shadow-color);
}


nav ul {
    list-style-type: none;
    margin: 0;
    margin-right: 50px;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
    
}

nav ul li a {
    color: var(--text-color);
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
    
}

.wrapper {
    width: 1200px;
    margin: auto;
    position: relative;
}

section {
    padding: 100px;
    margin: auto;
    margin-bottom: 50px;
}

/* beranda */
.beranda img {
    margin-left: 50px;
    margin-bottom: 30px;
    margin-top: 10px;
    width: 400px;
    float: right;
    filter:drop-shadow(0px 0px 20px var(--shadow-color));
}

.beranda .kolom {
    margin-top: 100px;
    margin-bottom: 50px;
}

.beranda .kolom h2 {
    font-size: 40px;
    font-weight: 700;
}

.tombol {
    background: var(--accent-color);
    font-size: 15px;
    border-radius: 15px;
    border: none;
    padding: 20px 30px 20px 30px;
    color: var(--base-color);
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0px 0px 40px var(--shadow-color);
}

.tombol:hover {
    color: var(--base-color);
    background: var(--text-color);
    text-decoration: none;
}

.deskripsi{
    color: var(--text-color);
    margin-bottom: 80px;
}

/* tentang */

.tentang img {
    margin-right:50px;
    margin-top: 20px;
    width: 450px;
    float: left;
}

.tentang .kolom {
    margin-top: 80px;
    margin-bottom: 100px;
}

.tentang .kolom h2 {
    font-size: 30px;
    font-weight: 700;
}

.kolom {
    
    color: var(--text-color);
}

.kolom h2 {
    margin-bottom: 20px;
    font-size: 30px;
    text-shadow: 0px 0px 30px var(--text-color);
    color: var(--secondary-text);
}

.box {
    color: var(--text-color);
    padding: 10px;
    text-align: center;
    text-shadow: 0px 0px 20px var(--text-color);
}

.riwayat-sekolah {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;

}

.riwayat-sekolah .kotak {
    color: var(--text-color);
    height: 200px;
    width: 300px;
    background-color: var(--base-variant);
    text-shadow: 0px 0px 20px var(--text-color);
    box-shadow: 0px 0px 20px var(--shadow-color);
    margin: 20px;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    line-height: 45px;
    position: relative;
    
}

.kotak img {
    width: 100px;
}

/*  */
.skill {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
}

.skill .kotak {
    color: var(--text-color);
    height: 200px;
    width: 300px;
    background-color: var(--base-variant);
    text-shadow: 0px 0px 20px var(--text-color);
    box-shadow: 0px 0px 20px var(--shadow-color);
    margin: 20px;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    line-height: 45px;
    position: relative;
}

/* Proyek */

.proyek {
    margin: 0px;
    padding: 100px;
    justify-content: center;
    align-items: center;
}

.project {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 0px;
    
}

.project .kotak-proyek {
    color: var(--text-color);
    background-color: var(--base-variant);
    text-shadow: 0px 0px 20px var(--text-color);
    box-shadow: 0px 0px 20px var(--shadow-color);
    margin: 20px;
    text-align: center;
    border-radius: 10px;
    padding-bottom: 20px;
    position: relative;
}

.kotak-proyek h3 {
    text-align: center;
}

.proyek h1 {
    font-size: 30px;
    text-align: center;
    color: var(--text-color);
    text-shadow: 0px 0px 20px var(--text-color);
}

.proyek img {
    margin-bottom: 20px;
    border-radius: 10px 10px 0px 0px;
    width: 228px;
}

.kotak-proyek .img-beda {
    width: 500px;
}


/* kontak */

.contact  {
    min-height: 200px;
    background-color: var(--base-variant);
    padding: 50px;
    text-align: center;
}

.kontak {
    max-width: 800px;
    margin: 0 auto;
}

.kontak h2 {
    font-size: 36px;
    margin-bottom: 40px;
    color: var(--text-color);
}

.contact-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}

.contact-form {
    text-align: left;
}

.contact-form h3 {
    font-size: 24px;
    margin-bottom: 20px;
    color: var(--text-color);
}

.form-group {
    margin-bottom: 20px;
}

input, textarea {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    background-color: white;
    color: black;
}



.contact-info {
    text-align: right;
}

.contact-info h3 {
    font-size: 24px;
    margin-bottom: 20px;
    color: var(--text-color);
    text-shadow: 0px 0px 20px var(--shadow-color);
}

.contact-info p {
    margin-bottom: 10px;
    color: var(--text-color);
    text-shadow: 0px 0px 20px var(--shadow-color);
}

#element {
    display: inline;
}